#myCarousel{
    height: 70vh;
    border-radius: 4px;
    padding: 0px 16px;
}
img{
    height: 70vh;
    width: 100%;
    border-radius: 4px;
}
@media (min-width:300px) and (max-width:600px) {
    #myCarousel{
        height: 40vh;
        border-radius: 4px;
    }
    img{
        height: 40vh;
        width: 100%;
        border-radius: 4px;
    }
}