#profileData{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    
}
#profileData>img{
    align-items: baseline;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
}
.editPopUp{
    position: absolute;
    top: 20%;
    left: 35%;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 250px;
    justify-content: space-around;
    border:1px solid olivedrab;
    border-radius: 12px;
    background: rgb(165,161,227);
    background: linear-gradient(90deg, rgba(165,161,227,1) 0%, rgba(194,240,227,1) 50%, rgba(133,213,230,1) 100%);
    /* z-index: 10; */
}

.editPopUp div{
    font-size: larger;
    font-family: FuturaPT-Demi, sans-serif;
    margin:5px;
}
.editPopUp div:hover{
    cursor: pointer;
}
@media (min-width:900px){
    .editPopUp{
        top: 30%;
        left: 40%;
    }
}