.bg-body-tertiary{
    margin: 10px;
    border-radius: 5px;
    background: rgb(165,161,227);
    background: linear-gradient(90deg, rgba(165,161,227,1) 0%, rgba(194,240,227,1) 50%, rgba(133,213,230,1) 100%);
}
.navBtn>span{
    font-family: cursive;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 4px 16px 0 rgba(0,0,0,0.19);
    background: none;
    border-radius: 5px;
}

.navBtn:hover{
    transform: scale(1.05);
}