.buttons-container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.park-button,.unpark-button{
    cursor: pointer;
    position: relative;
    width: 15%;
    border: 2px solid rgb(56, 125, 227);
    border-radius: 50%;
    height: 40%;
    align-items: center;
    text-align: center;
    opacity: 0.6;
}
.park-button{
    background-color: red;
    color: white;
}
.unpark-button{
    background-color: green;
    color: white;
}
.row{
    align-self: center;
}
.col{
    position: absolute;
    top: 25%;
}
@media (min-width: 200px) and (max-width: 767px) {
    .row{
        margin: 0px;
        align-self: center;
    }
    .park-button,.unpark-button{
        margin: 10px;
        height: 35%;
        width: 35%;
    }
    .buttons-container{
        height: 35vh;
        justify-content: space-evenly;
    }
    h3{
        font-size: 16px;
    }
    strong{
        font-size: 18px;
    }
    .col{
        left: 0px;
        top: 10%;
    }
}