footer { 
    color: black; 
    padding: 30px 15px;
    margin-top: 16px;
    background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
} 

.footer-links a { 
    color: black; 
    text-decoration: none; 
    margin-right: 15px; 
    transition: color 0.3s ease; 
} 

.footer-links a:hover { 
    color: #adb5bd; 
}
.list-inline-item a img{
    height: 30px;
    width: 30px;
}
.container .row h2 img{
    height: 80px;
    width: 150px;
}